.sect1 {
    background-image: url("https://www.birchbox.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fbirchbox%2Fa4a56ddc-afe0-4ac2-a360-f81c1165d634_pexels-rodnae-productions-4920883%2B1.png%3Fauto%3Dcompress%2Cformat%26rect%3D31%2C0%2C1378%2C640%26w%3D1400%26h%3D650&w=1920&q=75");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.heart{
    transform: rotate(-90deg);
    background: #fff;
    padding: 8px;
}