.sect1 {
    background-image: url("../../assets/images/Rectangle\ 56.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.heart{
    transform: rotate(-90deg);
    background: #fff;
    padding: 8px;
}