.sect1 {
    background-image: url("https://www.birchbox.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fbirchbox%2Fa4a56ddc-afe0-4ac2-a360-f81c1165d634_pexels-rodnae-productions-4920883%2B1.png%3Fauto%3Dcompress%2Cformat%26rect%3D31%2C0%2C1378%2C640%26w%3D1400%26h%3D650&w=1920&q=75");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.heart{
    transform: rotate(-90deg);
    background: #fff;
    padding: 8px;
}

.plans-btn {
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;
}

.plans-btn:hover,
.plans-btn:focus {
    background-color: #e43d40;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.plans-btn:hover {
    transform: translateY(-1px);
}

.plans-btn:active {
    background-color: #ED6C30;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}