.sect1 {
<<<<<<< HEAD
    /* background-image: url("../images/Fall2023-model-web.jpg"); */
    background-image: url("https://img.freepik.com/free-photo/top-view-mystery-box-concept_23-2149516449.jpg?t=st=1727052475~exp=1727056075~hmac=455c30d22b8fc94c0ca591a67b800789a0c6a4b1af15bed519486334ef8bc3c6&w=1380");
=======
    background-image: url("https://images.pexels.com/photos/5710307/pexels-photo-5710307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
>>>>>>> origin/main
    background-size: cover;
    background-position: center;
    width: 100%;
}

.heart{
    transform: rotate(-90deg);
    background: #fff;
    padding: 8px;
}

.plans-btn {
    align-items: center;
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;
}

.plans-btn:hover,
.plans-btn:focus {
    background-color: #e43d40;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.plans-btn:hover {
    transform: translateY(-1px);
}

.plans-btn:active {
    background-color: #ED6C30;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}