html, body {
  height: 100%;
  margin: 0;
  overflow: auto; /* Allow scrolling on the page */
}


@media (max-width: 640px) {
  .header-btn {
      gap: 1em;
  }

  .hero {
      background-image: url('../images/maybox-mb-bg.jpg');
  }
}