/* src/fonts.css */

/* Ordinary Fonts */
@font-face {
    font-family: 'Ordinary';
    src: url('/src/assets/fonts/ordinary/Ordinary-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ordinary';
    src: url('/src/assets/fonts/ordinary/Ordinary-Ultra.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Ordinary';
    src: url('/src/assets/fonts/ordinary/Ordinary-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ordinary';
    src: url('/src/assets/fonts/ordinary/Ordinary-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ordinary';
    src: url('/src/assets/fonts/ordinary/Ordinary-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

/* Neue Einstellung Fonts */
@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('/src/assets/fonts/neue-einstellung/NeueEinstellung-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* CLASH FONT */

@font-face {
    font-family: 'ClashDisplay';
    src: 
        url('/src/assets/fonts/clash/ClashDisplay-Extralight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: 
        url('/src/assets/fonts/clash/ClashDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: 
        url('/src/assets/fonts/clash/ClashDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: 
        url('/src/assets/fonts/clash/ClashDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src:
        url('/src/assets/fonts/clash/ClashDisplay-Semibold.woff') format('woff');
        
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: 
        url('/src/assets/fonts/clash/ClashDisplay-Bold.woff') format('woff');
     
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}




/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
/* @font-face {
    font-family: 'ClashDisplay-Variable';
    src: 
        url('../src/assets/fonts/clash/ClashDisplay-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
} */