.plan-container {
  background-color: #f0f0f0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
margin-top: -4rem;
  padding: 2rem 0;
z-index: -1;
padding-bottom: 3em;
}

.image-container {
  padding-right: 3em;
}

.custom-overlay {
  position: relative;
  display: inline-block;
}

.custom-overlay img {
  position: relative;
  z-index: 10;
}

.custom-overlay::before {
  content: "";
  position: absolute;
  top: 20px;
  /* adjust as needed */
  left: 20px;
  /* adjust as needed */
  width: 100%;
  height: 100%;
  background-color: #a03302;
  /* custom color */
  z-index: 0;
}

/* CSS */
.plans-btn {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}

.plans-btn:hover,
.plans-btn:focus {
  background-color: #e43d40;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.plans-btn:hover {
  transform: translateY(-1px);
}

.plans-btn:active {
  background-color: "#ED6C30";
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

@media (max-width: 480px) {
  .main-container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .pricing-txt {
    text-align: center;
    align-self: center;
  }

  .price-container {
    gap: 1.5em;
  }

  .price-plans {
    max-width: 100%;
  }
}

.price-plans {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: first baseline;
}
