html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Allow scrolling on the page */
}

.edit2 {
  color: #021526;
  border-radius: 3px;
}

.edit3 {
  background-color: #021526;
  border-radius: 3px;
}

.icon {
  margin-left: 140px;
  margin-top: 40px;
  position: relative;
  top: 25px;
}


.relative.w-1\/2{
  height: 100vh; 
}


.w-full.max-w-xs {
  height: auto; 
  overflow: visible;
}

