.container2{
    width: 900px;
}
.svg{
margin-left: -12px;
margin-bottom: 50px;
}
.svg1{
    margin-left: -90px;
}
.may{
    font-style: italic;
    font-weight: 400;
}
.you{
    color: rgb(37, 35, 35);
    font-weight: 400
}